/*
  .加名字类选择器
 */
.btnLogin {
    width: 100%;
    position: relative;
}

.divCenter{
    width: 50%;
    height: 50%;
    border: 1px #00FF00 solid;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}