<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="alternate icon" href="image/admin.png"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/Login.css"/>
    <link rel="stylesheet" type="text/css" href="css/layui/css/layui.css"/>
    <script rel="stylesheet" src="css/layui/layui.all.js"></script>
    <script rel="stylesheet" src="js/common/jquery-3.4.1.min.js"></script>
    <script rel="stylesheet" src="js/common/dialog.js"></script>
    <script rel="stylesheet" src="js/common/string.js"></script>
    <script rel="stylesheet" src="js/common/host.js"></script>
    <script rel="stylesheet" src="js/dao/user.js"></script>
    <script rel="stylesheet" src="js/index.js"></script>
</head>
<body>
    <div class="divCenter">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <li>注册</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" style="text-align: center;width: 60%">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input id="account" type="text" name="username"
                                   placeholder="请输入账号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <br>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input id="password" type="password" name="username"
                                   placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <br>
                    <button id="btn_login" type="button" class="layui-btn">登录</button>
                </div>
                <div class="layui-tab-item">内容2</div>
            </div>
        </div>
    </div>
</body>
</html>